body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}

/* Removed styling for element with a link on page */
a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.page-title {
    letter-spacing: 1px;
}

.page-description {
    color: darkcyan;
    font-size: 16px;
}

/* News Section Start */
.news-container {
    margin-top: 100px;
}

.news-post {
    width: 500px;
    margin-bottom: 50px;
}

.news-post-author, .news-post-date{
    font-size: 14px;
    color: rgb(216, 170, 170);
}

.news-post-date {
    color: deepskyblue;
}

.news-post-title{
    border-left: 4px solid rgb(235, 235, 235);
    padding-left: 10px;
}

.news-post-text{
    border-left: 4px solid rgb(252, 249, 249);
    padding-left: 10px;
    font-style: italic;
    line-height: 22px;
    color: lavenderblush;
}

.news-post-link{
    color:lightcoral;
}

/* Pseudo Classes */
.list li:last-child a{
    color: blueviolet;
}

/* Hovering On Element */
.list a:hover{
color: darkorange;
}

/* Pseudo Elements */
.list{
    list-style: none;
}

.list li::before{
    content: '' ;
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: rgb(55, 0, 255);
    margin-right: 7px;
}